Hi, I'm Shivesh Pathak, a computational and theoretical physicist. 
I completed my undergraduate and PhD degrees at the University of Illinois at Urbana-Champaign, in 2016 and 2021 respectively.

For my undergrad research I worked on university of slip avalanches in soft-condensed matter systems from nanopillars to earth quakes.

My graduate research was focused on effective low-energy models for strongly correlated electronic systems like twisted bilayer graphene using first
principles techniques like density functional theory and quantum Monte Carlo.
I also spent a lot of time working on algorithms development and improvement in quantum Monte Carlo. 

I am currently doing my postdoctoral research at Sandia National Labs.
One set of projects I'm working on involves accurate computation of forces using neural network learned electronic densities and
the Hellmann-Feynman theorem, with the eventual intent of machined learned forces for biological molecules like DNA.
The second set of projects I'm working on is estimating the computational cost of ground and excited state preparation algorithms
on quantum computers. 

If you'd like to read through my publications, you can read my <a href="https://www.ideals.illinois.edu/handle/2142/113802">entire dissertation</a>, 
or take a peek at my <a href="https://scholar.google.com/citations?user=DI2P0PkAAAAJ&hl=en">Google Scholar</a> for journal publications and talks.
